button{
    display: inline-block;
    color: #999;
    line-height: 10px;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: .25em;
    position: relative;
    right: 0;
    margin-right: 6px;
    height: 30px;
    font-size: 15px;
}
.frame-admin{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header-admin{
    display: flex;
    overflow: auto hidden;
    /* border-style: solid;
    border-color: black; */
    padding-left: 20px;
}
.header-admin h2 {
    line-height: 1.5;
    vertical-align: middle;
}
.container-admin{
    display: flex;
    flex: 5;
    overflow: scroll;
    padding: 9.6px;
    flex-direction: column;
    height: 100%;
}
.container-title-admin{
    display: flex;
    flex:5;
    flex-direction: column;
    padding: 10px;
}
.content-admin{
    display: flex;
    margin-bottom: 9.6px;
    justify-content: center;
    align-items: center;
}
.footer-admin{
    /* height: 60px;
    border-style: solid;
    border-color: black; */
    margin-top: auto;
}
.contentRight-admin label:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.contentRight-admin label{
    display: inline-block;
    padding: .2em .30em;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: .25rem;
    margin: 0 9.6px;
    color: #6c757d;
    background-color: transparent;
    font-size: .9rem;
    border: 1px solid #6E6E6E;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contentRight-admin input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    float: left;
}
.contentRight-admin input {
    float: right;
    margin-top: 8px;
}
.editInfoText{
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    text-align: center;
}