h2,h3, h5{
    margin: 0;
    padding:0;
}
.frame-user{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header-user {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
}
.header-user h2{
    line-height: 1.5;
    vertical-align: middle;
}
.container-user{
    display: flex;
    flex:5;
    height: 100%;
    flex-direction: column;
    padding:10px;
}
.content-user{
    display: flex;
    flex:1;
    overflow: auto;
}
.card-bottom:hover{
    background-color: #EBF5FF;
    border-color: #EBF5FF;
    
}
.card-bottom
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem;
    flex-basis:360px;
    box-shadow:1px 1px 1px 1px #dedede ;
}
.card-top{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-width: 100%;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    background-color: #BDBDBD;
    color: white;
}
.card-layout{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin:10px;
    flex-basis:360px;
}
.footer-user{
    height: 60px;
    margin-top: auto;
    border-style: solid;
    border-color: black;
}
.filebox label:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.filebox label{
    display: inline-block;
    padding: .2em .30em;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: .25rem;
    margin: 0 9.6px;
    color: #6c757d;
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid #6E6E6E;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.filebox input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.columnAlign_header{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-right: 20px;
}
.button-layout{
    width: 100%;
    text-align: right;
    margin-left: 7.5px;
}
 /* .section-top 
{
    display: inline-flex;
    width: 350px;
    height: 50px;
    margin: 10px ;
    align-items: center;
    justify-content: center;
}
.section-top:hover{
    background-color: yellow;
}
.section-top:focus{
    background-color: red;
}
.section-top-bottom
{
    display: flex;
    width: 350px;
    height: 165px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem;
}
.section-bottom 
{
    display: inline-flex;
    width: 350px;
    height: 165px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
} */
/* .section-bottom-modal-button{
    display: inline-block;
    padding: .2em .30em;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25em;
    margin: 10px 10px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-bottom-modal-button:hover{
    text-decoration: none;
}
.modal{
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal:target{
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(2px);
}
.window{
    background-color: white;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.window-header{
    background-color: #ddd;
}
.window-contents{
    flex-grow: 1;
    height: 300px;
}
.window-contents-button{
    line-height: 370px;
    vertical-align: bottom;
    text-align: right;
    margin-right: 10px;
} */